{% extends 'screening/header.html' %}

{% block content %}    
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center" style="margin: 20px;">
        {% if departments %}
          <h5 align="center">LIST OF DEPARTMENTS</h5>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>S/N</th>
                    <th>DEPARTMENT</th>              
                </tr>
        {% for dept in departments %}
                <tr>
                    <td></td>
                    <td>{{dept.deptName}}</td>
                </tr>
        {% endfor %}
            </table>
        {% else %}
            <h3> NO DEPARTMENT </h3>
        {% endif %}
        </div>
      </div>

{% endblock content %}

