{% load static %}
<!DOCTYPE html>
<html lang="en"
    class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" 
    data-assets-path=" {% static 'assets/' %} " data-template="vertical-menu-template-free">
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>
        {% block title %}{% endblock %}
    </title>
    
    {% block styles %}
      
    {% endblock styles %}
    
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}
    {% block content %}

    {% endblock content %}

    {% include 'screening/landing/scripts.html' %}
</body>
</html>