{% extends 'screening/header.html' %}
{% load static %}

{% block content %}
        <div class="card-body">
            {% if fscreening %}
                <h5> Your first screening is {{fscreening.status}} </h5> <br/>
                <h5>These are your first screening documents </h5>

                <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 parent-container">
                    <div class="col">
                      <div class="card h-100 embed-responsive embed-responsive-21by9 ">
                        <a href="{{fscreening.o_level.url}}" title="O'Level">
                            <img class="card-img-top embed-responsive-item" src="{{fscreening.o_level.url}}" alt="Card image cap"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">O'Level</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <a href="{{fscreening.indigene_certificate.url}}" title="Indigene Certificate">
                            <img class="card-img-top" src="{{fscreening.indigene_certificate.url}}" alt="Card image cap" style="object-fit: contain; height: 250px; width: 250px;"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">Indigene Certificate</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <a href="{{fscreening.pry_certificate.url}}" title="Primary School Certificate">
                            <img class="card-img-top" src="{{fscreening.pry_certificate.url}}" alt="Card image cap" style="object-fit: contain; height: 250px; width: 250px;"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">Primary School Certificate</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <a href="{{fscreening.ND_result.url}}" title="National Diploma Result">
                            <img class="card-img-top" src="{{fscreening.ND_result.url}}" alt="Card image cap" style="object-fit: contain; height: 250px; width: 250px;"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">National Diploma Result</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <a href="{{fscreening.admission_letter.url}}" title="Admission Letter">
                            <img class="card-img-top" src="{{fscreening.admission_letter.url}}" alt="Card image cap" style="object-fit: contain; height: 250px; width: 250px;"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">Admission Letter</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <a href="{{fscreening.acceptance_fee_receipt.url}}" title="Acceptance Fee Receipt">
                            <img class="card-img-top" src="{{fscreening.acceptance_fee_receipt.url}}" alt="Card image cap" style="object-fit: contain; height: 250px; width: 250px;"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">Acceptance Fee Receipt</h5>
                        </div>
                      </div>
                    </div>
                </div>

                {% if fscreening.status == 'rejected' %}
                    <h5> First Screening was rejected due to the following reason(s): </h5>
                    <h6>{{fscreening.comment}}</h6> <br/>
                    <p> Retake screening here <a href="{% url 'screening:first_screening' %}" class="btn btn-info">First Screening</a> </p>

                {% endif %}

                {% if fscreening.status == 'approved' %}
                    <h5 align="center"> First Screening has been approved you can start your second screening here </h5> 
                    <a href="{% url 'screening:second_screening_view' %}" class="btn btn-info">Second Screening</a>

                {% endif %}
            
            {% else %}
                <p> Documents not found </p>
            {% endif %}
    </div>

  

    
    
{% endblock content %}