{% extends 'screening/header.html' %}

{% block title %}SCREENING{% endblock title %}
{% load static%}
{% block content %}
<div class="card-body">
    <h5 class="card-title text-primary">Welcome  {{user.first_name|upper}} {{user.last_name|upper}} 🎉</h5>
    <p class="mb-4">
        {% if fscreening is None and sscreening is None %} 
            <div class="align-items-center">
                <h5 align="center"> No records of screening yet </h5>
                <a href="{% url 'screening:first_screening' %}" class="btn btn-info">START HERE</a>
            </div> 
        {% elif fscreening is not None and sscreening is None %}
            <div class="align-items-center">
                <h5 align="center"> Your first screening status is {{fscreening.status|title}} </h5>
            </div>
        {% elif fscreening is not None and sscreening is not None %}
        <div class="align-items-center">
            <h5 align="center"> Your second screening status is {{sscreening.status|title}} </h5>
        </div>
        {% endif %}

        
        {% comment %} <p> First Screening - {{fscreening}}</p>
        <p> Second Screening - {{sscreening}}</p> {% endcomment %}
      
</div>

{% endblock content %}