{% extends 'screening/base.html' %}
{% load static %}
{% block title %}Kadpoly Screening{% endblock title %}

  {% block styles %}
    {% include 'screening/landing/stylesheets.html' %}
  {% endblock styles %}


  <header>
    {% block navbar %}
      {% include 'screening/landing/navbar.html' %}
    {% endblock navbar %}

    {% block content %}
      <div class="container">
        <div class="page-banner home-banner">
          <div class="row align-items-center flex-wrap-reverse h-100">
            <div class="col-md-6 py-5 wow fadeInLeft">
              <h1 class="mb-4">Kadpoly Screening</h1>
              <p class="text-lg text-grey mb-5">A portal for newly students to take their screening exercise</p>
              <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-split">Get Started</a>
            </div>
            <div class="col-md-6 py-5 wow zoomIn">
              <div class="img-fluid text-center">
                <img src="{% static 'landing/img/avatar.png' %}" alt="">
              </div>
            </div>
          </div>
          
        </div>
      </div>



    {% endblock content %}

  </header>

  

