{% comment %} {% extends 'screening/header.html' %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
        <link  href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link rel ="stylesheet" href = "{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css">
        <link rel ="stylesheet" href = "{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-core-css">
</head>
<body>
  <div class="container" style="width: 40%">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <br>
            <h4 class="mb-2">Welcome to Kadpoly Screening System! 👋</h4>
            <p class="mb-4">Please sign-in to your account and start the exercise</p>

            <form id="formAuthentication" class="mb-3" method="POST">
              {% include 'screening/messages.html' %}
                {% csrf_token %}
                <div class="mb-3"> 
                {% for field in form %}
                    <div class="form-label"> 
                      {{field.label}}
                    </div>
                      {{field}}
                      <br>
                {% endfor %}
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> Remember Me </label>
                </div>
              </div>
              <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit" style="color: black">Sign in</button>
                </div>
            </form>

            <p class="text-center">
              <span>Having trouble logging in?</span>
              <a href="#">
                <span>Contact Admin</span>
              </a>
            </p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  {% comment %} {% endblock content %} {% endcomment %}

  
          <!-- Core JS -->
      <!-- build:js assets/vendor/js/core.js -->
      <script src=" {% static 'assets/vendor/libs/jquery/jquery.js' %} "></script>
      <script src=" {% static 'assets/vendor/libs/popper/popper.js' %} "></script>
      <script src=" {% static 'assets/vendor/js/bootstrap.js' %} "></script>
      <script src=" {% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %} "></script>
  
      <script src=" {% static 'assets/vendor/js/menu.js' %} "></script>
      <!-- endbuild -->
  
      <!-- Vendors JS -->
      {% comment %} <script src=" {% static '/assets/vendor/libs/apex-charts/apexcharts.js' %} "></script> {% endcomment %}
  
      <!-- Main JS -->
      <script src=" {% static 'assets/js/main.js' %} "></script>
  
      <!-- Page JS -->
      {% comment %} <script src=" {% static 'assets/js/dashboards-analytics.js' %} "></script> {% endcomment %}
       
</body>

</html>
           
        

