{% extends 'screening/header.html' %}

{% block content %}
    <div class="card-body">
        {% if sscreening %}
            <h5> Your second screening is: {{sscreening.status|title}} </h5> <br/>
            <h5>These are your second screening documents </h5>
            
            <div style="display: grid;">
                <div class="screening-status-card">
                    <img src ="{{sscreening.acceptance_form.url}}" alt="o_level" width="150", height="150"/>
                    <div class="container">
                        <h6><b>Acceptance Form</b></h6> 
                    </div>
                    
                </div>

                <div class="screening-status-card">
                    <img src="{{sscreening.school_fee_receipt.url}}" alt="ind_cert" width="150", height="150"/>
                        
                    <div class="container">
                        <h6><b>School Fee Receipt</b></h6> 
                    </div>
                </div>

                    <div class="screening-status-card">
                        <img src="{{sscreening.medical_receipt.url}}" alt="pry_cert" width="150", height="150"/>
                        
                        <div class="container">
                            <h6><b>Medical Receipt.</b></h6> 
                        </div>
                    </div>

                    <div class="screening-status-card">
                        <img src="{{sscreening.entrepreneur_receipt.url}}" alt="ND" width="150", height="150"/>
                        <div class="container">
                            <h6><b>Entreprenuer Receipt</b></h6> 
                        </div>
                    </div>

                    <div class="screening-status-card">
                        <img src="{{sscreening.jamb_admission_letter.url}}" alt="adm_letter" width="150", height="150"/>
                        <div class="container">
                            <h6><b>Jamb Admission Letter</b></h6> 
                        </div>
                    </div>

                    <div class="screening-status-card">
                        <img src="{{sscreening.jamb_original_result.url}}" alt="acceptance_fee" width="150", height="150"/>
                        <div class="container">
                            <h6><b>Jamb Original Result</b></h6> 
                        </div>
                    </div>

                    <div class="screening-status-card">
                        <img src="{{sscreening.attestation_letter.url}}" alt="acceptance_fee" width="150", height="150"/>
                        <div class="container">
                            <h6><b>Attestation Letter</b></h6> 
                        </div>
                    </div>
                
            </div>

            {% if sscreening.status == 'rejected' %}
                <h5> Second Screening was rejected due to the following reason(s): </h5>
                <h6>{{sscreening.comment}}</h6> <br/>
                <p> Retake screening here <a href="{% url 'screening:second_screening' %}" class="btn btn-info">Second Screening</a> </p>

            {% endif %}

            {% if sscreening.status == 'approved' %}
                <h5 align="center"> Second Screening has been approved, Registration done </h5> 
            {% endif %}
            
        {% else %}
            <p> Documents not found </p>
        {% endif %}
    </div>

{% endblock content %}