{% extends 'screening/header.html' %}

{% block content %}
    <div class="screening-card">

        {% if sscreening %}
        <h5> Your second screening is {{sscreening.status|title}} </h5> <br/>
        <h5>These are your second screening documents </h5>
        
        <div style="display:inline-flex;">
            <div class="screening-status-card">
                <img src ="{{sscreening.acceptance_form.url}}" alt="o_level" width="150", height="150"/>
                <div class="container">
                    <h6><b>Acceptance Form</b></h6> 
                </div>
            </div>

            <div class="screening-status-card">
                <img src="{{sscreening.school_fee_receipt.url}}" alt="ind_cert" width="150", height="150"/>
                    
                <div class="container">
                    <h6><b>School Fee Receipt</b></h6> 
                </div>
            </div>

                <div class="screening-status-card">
                    <img src="{{sscreening.medical_receipt.url}}" alt="pry_cert" width="150", height="150"/>
                    
                    <div class="container">
                        <h6><b>Medical Receipt.</b></h6> 
                    </div>
                </div>

                <div class="screening-status-card">
                    <img src="{{sscreening.entrepreneur_receipt.url}}" alt="ND" width="150", height="150"/>
                    <div class="container">
                        <h6><b>Entreprenuer Receipt</b></h6> 
                    </div>
                </div>

                <br/><br/>
                <div class="screening-status-card">
                    <img src="{{sscreening.jamb_admission_letter.url}}" alt="adm_letter" width="150", height="150"/>
                    <div class="container">
                        <h6><b>Jamb Admission Letter</b></h6> 
                    </div>
                </div>

                <div class="screening-status-card">
                    <img src="{{sscreening.jamb_original_result.url}}" alt="acceptance_fee" width="150", height="150"/>
                    <div class="container">
                        <h6><b>Jamb Original Result</b></h6> 
                    </div>
                </div>

                <div class="screening-status-card">
                    <img src="{{sscreening.attestation_letter.url}}" alt="acceptance_fee" width="150", height="150"/>
                    <div class="container">
                        <h6><b>Attestation Letter</b></h6> 
                    </div>
                </div>
            
            </div>
        {% endif %}

        {% comment %} {% if fscreening %}
            {{fscreening}}
        {% if fscreening.status == 'pending' or fscreening.status == 'pending for record officer' or fscreening.status == 'pending for student affair' %}
            <p>Your first screening isn't approved yet, you can't proceed to second screening.</p>
        {% elif fscreening.status == 'rejected' %}
            <p> Your first screening has been rejected, you can't proceed. Take the first screening exercise again </p>
        {% elif fscreening.status == 'approved' %}
            <p>Your first screening has been approved, you can proceed to second screening now </p>
            <a href="{% url 'screening:second_screening_view' %}" class="btn btn-info">START HERE</a>
        {% endif %}
            
        {% else %}
            <p> Documents not found </p>
        {% endif %}

        First Screening - {{fscreening.status}} <br>
        Second Screening - {{sscreening.status}} {% endcomment %}
    </div>

{% endblock content %}