<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href=" {% url 'record_officer:home' %}" class="app-brand-link">
        <span class="app-brand-text demo menu-text fw-bolder ms-2">KADPOLY SCREENING</span>
      </a>
      
      <div class="container-xxl flex-grow-1 container-p-y">
              <!-- Layout Demo -->
              <div class="layout-demo-wrapper">
                {% comment %} <div class="layout-demo-placeholder">
                  <img
                    src="../assets/img/layouts/layout-without-menu-light.png"
                    class="img-fluid"
                    alt="Layout without menu"
                    data-app-light-img="layouts/layout-without-menu-light.png"
                    data-app-dark-img="layouts/layout-without-menu-dark.png"
                  />
                </div> {% endcomment %}
                <div class="layout-demo-info">
                  {% comment %} <h6>Layout without Menu (Navigation)</h6> {% endcomment %}
                  {% comment %} <button class="btn btn-primary" type="button" onclick="history.back()">Go Back</button> {% endcomment %}
                </div>
                
              </div>
              <!--/ Layout Demo -->
            </div>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href=" {% url 'screening:index' %} " class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>
        
      <!-- Components -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Exercise</span></li>
      <!-- Cards -->      

      <!-- Screening components -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Screening</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'record_officer:first_screening' %}" class="menu-link">
              <div data-i18n="Perfect Scrollbar">First Screening</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'record_officer:second_screening' %}" class="menu-link">
              <div data-i18n="Text Divider">Second Screening</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Records components -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Records</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="" class="menu-link">
              <div data-i18n="Perfect Scrollbar">First Screening</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
              <div data-i18n="Text Divider">Second Screening</div>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </aside>