{% extends 'screening/header.html' %}
{% load static %}
{% block content %}
    <div class="card-body">
        {% if firstscreening %}
            <h4> First Screening Detail For:</h4>
            <div style="float:right;">
                <img src="{{firstscreening.student_id.profile_pix.url}}" style="border-radius: 50%; width: 200px; height: 200px;"/>
            </div>
            <div style="float:left; margin-left:30px">
                <h5>APPLICATION NO: {{firstscreening.student_id.application_no}}</h5>  
                <h5>DATE SUBMITTED: {{firstscreening.dateSubmitted}}</h5>
                <h5>STATUS: {{firstscreening.status|upper}}</h5> 
            </div>
            
                <table class="table table-bordered table-striped parent-container">
                    <tr>
                        <td> <h6>O_Level</h6><a href="{{firstscreening.o_level.url}}" title="O'Level"> <img src="{{firstscreening.o_level.url}}" alt="o_level" width="200", height="200"/></a></td>
                        <td> <h6>Indigene Certificate</h6><a href="{{firstscreening.indigene_certificate.url}}" title="Indigene Certificate"><img src="{{firstscreening.indigene_certificate.url}}" alt="ind_cert" width="200", height="200"/></a></td>
                        <td><h6>Primary School Leaving Certificate</h6><a href="{{firstscreening.pry_certificate.url}}" title="Primary School Certificate"><img src="{{firstscreening.pry_certificate.url}}" alt="pry_cert" width="200", height="200"/></a></td>
                    </tr>
                    <tr>
                        <td><h6>National Diploma Result</h6><a href="{{firstscreening.ND_result.url}}" title="National Diploma Result"><img src="{{firstscreening.ND_result.url}}" alt="ND" width="200", height="200"/></a></td>
                        <td><h6>Admission Letter</h6><a href="{{firstscreening.admission_letter.url}}" title="Admission Letter"><img src="{{firstscreening.admission_letter.url}}" alt="adm_letter" width="200", height="200"/></a></td>
                        <td><h6>Acceptance Fee</h6><a href="{{firstscreening.acceptance_fee_receipt.url}}" title="Acceptance Fee Receipt"></a><img src="{{firstscreening.acceptance_fee_receipt.url}}" alt="acceptance_fee" width="200", height="200"/></td>
                    </tr>
                    {% if firstscreening.status != 'approved' %}
                        <tr>
                            <td>COMMENT:
                                <form action = "{% url 'record_officer:modify_screening' firstscreening.id %}" method="POST">
                                    {% csrf_token %}
                                    <textarea name="comment" id="comment" class="d-grid w-100"></textarea> <br/>
                                    <input type="submit" class = "btn btn-success d-grid w-100" value="Approve" name="approve">&nbsp; 
                                    <input type="submit" class = "btn btn-danger d-grid w-100" value="Reject" name="reject">           
                                </form>
                            </td> 
                        </tr>
                    {% elif firstscreening.status == 'pending for student_affair' %}
                    <a href="" class = "btn btn-warning">ROLLBACK</a>
                    {% endif %}
                </table>
            
        {% else %}
            <h5>DOCUMENTS NOT FOUND </h5>
        {% endif %}
    </div>
    
    <script src="{% static 'assets/js/caro/jquery.min.js' %} "></script>
    <script src=" {% static 'assets/js/caro/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'assets/js/caro/mag-click.js' %} "></script>
{% endblock content %}

