{% extends 'screening/header.html' %}

{% block content %}
    <div class="card-body">
        {% if firstscreening %}
            <h4> First Screening Detail For:</h4>
            <div style="float:right">
                <img src="{{firstscreening.student_id.profile_pix.url}}" width=200 height=200/>
            </div>
            <div style="float:left; margin-left:30px">
                <h5>APPLICATION NO: {{firstscreening.student_id.application_no}}</h5>  
                <h5>DATE SUBMITTED: {{firstscreening.dateSubmitted}}</h5>
                <h5>STATUS: {{firstscreening.status|upper}}</h5> 
            </div>
            
            <table class="table table-bordered table-striped">
                <tr>
                    <td> <h6>O_Level</h6> <img src="{{firstscreening.o_level.url}}" alt="o_level" width="200", height="200"/></td>
                    <td> <h6>Indigene Certificate</h6><img src="{{firstscreening.indigene_certificate.url}}" alt="ind_cert" width="200", height="200"/></td>
                    <td><h6>Primary School Leaving Certificate</h6><img src="{{firstscreening.pry_certificate.url}}" alt="pry_cert" width="200", height="200"/></td>
                </tr>
                <tr>
                    <td><h6>National Diploma Result</h6><img src="{{firstscreening.ND_result.url}}" alt="ND" width="200", height="200"/></td>
                    <td><h6>Admission Letter</h6><img src="{{firstscreening.admission_letter.url}}" alt="adm_letter" width="200", height="200"/></td>
                    <td><h6>Acceptance Fee</h6><img src="{{firstscreening.acceptance_fee_receipt.url}}" alt="acceptance_fee" width="200", height="200"/></td>
                </tr>
                {% if firstscreening.status != 'approved' %}
                    <tr>
                        <td>COMMENT:
                            <form action = "{% url 'record_officer:modify_screening' firstscreening.id %}" method="POST">
                                {% csrf_token %}
                                <textarea name="comment" id="comment" class="d-grid w-100"></textarea> <br/>
                                <input type="submit" class = "btn btn-success d-grid w-100" value="Approve" name="approve">&nbsp; 
                                <input type="submit" class = "btn btn-danger d-grid w-100" value="Reject" name="reject">           
                            </form>
                        </td> 
                    </tr>
                {% elif firstscreening.status == 'pending for student_affair' %}
                <a href="" class = "btn btn-warning">ROLLBACK</a>
                {% endif %}
            </table>
        {% else %}
            <h5>DOCUMENTS NOT FOUND </h5>
        {% endif %}
    </div>
    

{% endblock content %}

