{% extends 'screening/header.html' %}

{% block content %}
    <div align='center' class="card-body">
        {% if sscreening %}
            <h5>LIST OF SECOND SCREENINGS</h5>

            <div style="float: right">
                <form action="" method="">
                    <label>Filter List by Status: </label>
                    <select name='status' id='status'>
                        <option value='Pending'>Pending</option>
                        <option value='Approved'>Approved</option>
                    </select>
                </form>
            </div>

            {% for screening in sscreening %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>APPLICATION NO</th>
                        <th>LEVEL</th>
                        <th>STATUS</th>                
                    </tr>
                    <tr>
                        <td><a href = "{% url 'record_officer:second_screening_detail' screening.id %}">{{screening.student_id.application_no}}</a></td>
                        <td>{{screening.student_id.level_id}}</td>
                        {% if screening.status == 'approved' %}
                            <td><span class="badge bg-label-success me-1">{{screening.status}}</span></td>
                        {% elif screening.status|first in 'pending' %}    
                            <td><span class="badge bg-label-warning me-1">{{screening.status}}</span></td>
                        {% endif %}
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <h3> NO SECOND SCREENING </h3>
        {% endif %}
    </div>
    

{% endblock content %}

