{% extends 'screening/header.html' %}

{% block content %}
    <div align='center'>
        {% if secondscreening %}
        <h4> Second Screening Detail For:</h4>
        <div style="float:right">
            <img src="{{secondscreening.student_id.profile_pix.url}}" width=200 height=200/>
        </div>
        <div style=" margin-left:30px">
            <h5>APPLICATION NO: {{secondscreening.first_screening.student_id.application_no}}</h5>  
            <h5>DATE SUBMITTED: {{secondscreening.dateSubmitted}}</h5>
            <h5>STATUS: {{secondscreening.status|upper}}</h5> 
        </div>
        
        <br/><br/>        
        <a href="">View First Screening</a>
  
        <table class="table table-bordered table-striped">
            <tr>
                <td>Acceptance Form:</td>
                <td><img src="{{secondscreening.acceptance_form.url}}" alt="o_level" width="150", height="150"/></td>
                <td>School Fee Receipt:</td>
                <td><img src="{{secondscreening.school_fee_receipt.url}}" alt="ind_cert" width="150", height="150"/></td>
                <td>Entreprenuer Receipt: </td>
                <td><img src="{{secondscreening.entrepreneur_receipt.url}}" alt="pry_cert" width="150", height="150"/></td>
            </tr>
            <tr>
                <td>Medical Receipt</td>
                <td><img src="{{secondscreening.medical_receipt.url}}" alt="ND" width="150", height="150"/></td>
                <td>Jamb Admission Letter:</td>
                <td><img src="{{secondscreening.jamb_admission_letter.url}}" alt="adm_letter" width="150", height="150"/></td>
                <td>Jamb Original Result:</td>
                <td><img src="{{secondscreening.jamb_original_result.url}}" alt="acceptance_fee" width="150", height="150"/></td>
                <td>Attestation Letter:</td>
                <td><img src="{{secondscreening.attestation_letter.url}}" alt="acceptance_fee" width="150", height="150"/></td>

            </tr>
            <tr>
                <td>COMMENT:
                    <form action = "{% url 'record_officer:second_screening_modification' secondscreening.id %}" method="POST">
                        {% csrf_token %}
                        <textarea name="comment" id="comment"></textarea></td>
                        <td><input type="submit" class = "btn btn-success d-grid w-100" value="Approve" name="approve">&nbsp; 
                            <input type="submit" class = "btn btn-danger d-grid w-100" value="Reject" name="reject"></td>            
                    </form>
                
                    
            </tr>
        </table>
     
        {% else %}
            <h4>No Detail </h4>
        {% endif %}
    </div>
    

{% endblock content %}

